@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.active {
  color: #fe2c55;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ededed;
}