.ddd {
  width: 101px;
  height: 3px;
  background-color: black;
}

.aaa {
  transform: translateX(101px);
  width: 157px;
  height: 3px;
  background-color: black;
}

#like:hover ~ .ddd {
  transform: translateX(101px);
  width: 157px;
  transition: trasition 0.3s;
}

#video:hover ~ .aaa {
  transform: translateX(0);
  width: 101px;
  transition: trasition 0.3s;
}

#edit {
  background-color: rgba(121, 121, 121, 0.3);
}

.file {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
}
